<!DOCTYPE html>
<html lang="br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Bem vindo a aba de clientes</h1>
    <hr>
    <a href="/">Voltar para Tela Inicial</a>
</body>
</html>