<!DOCTYPE html>
<<<<<<< HEAD
<html lang="en">
=======
<html lang="br">
>>>>>>> 72b8536c0730ebdf4bf7536b8136b3867490e542
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu primeiro site em Node.js e Express.js</title>
</head>
<body>
<<<<<<< HEAD
    <h1> Hello, world</h1>
    <p>Meu primeiro site em Node.Js e Express.js</p>
    <hr>
    <p><a href= "/perfil"> Ir para o seu perfil</a></p>
     <p><a href= "/clientes"> Ir para o seu clientes</a></p>
      <p><a href= "/servicos"> Ir para o seu serviços</a></p>
      <p><a href= "/produtos"> Ir para o seu produtos</a></p>
=======
    <h1> Bem vindo ao meu primeiro index.ejs</h1>
    <p><a href="/perfil">Tela Perfil</a></p>
    <p><a href="/clientes">Tela de Clientes</a></p>
    <p><a href="/servicos">Tela de Serviços</a></p>
    <p><a href="/produtos">Tela de Produtos</a></p>


>>>>>>> 72b8536c0730ebdf4bf7536b8136b3867490e542


</body>
</html>