<!DOCTYPE html>
<html lang="br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu primeiro site em Node.js e Express.js</title>
</head>
<body>
    <h1> Bem vindo ao meu primeiro index.ejs</h1>
    <p><a href="/perfil">Tela Perfil</a></p>
    <p><a href="/clientes">Tela de Clientes</a></p>
    <p><a href="/servicos">Tela de Serviços</a></p>
    <p><a href="/produtos">Tela de Produtos</a></p>




</body>
</html>