<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu primeiro site em Node.js e Express.js</title>
</head>
<body>
    <h1> Hello, world</h1>
    <p>Meu primeiro site em Node.Js e Express.js</p>
    <hr>
    <p><a href= "/perfil"> Ir para o seu perfil</a></p>
     <p><a href= "/clientes"> Ir para o seu clientes</a></p>
      <p><a href= "/servicos"> Ir para o seu serviços</a></p>
      <p><a href= "/produtos"> Ir para o seu produtos</a></p>


</body>
</html>