<!DOCTYPE html>
<html lang="br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Bem vindo a tela de Produtos</h1>
    <hr>
    <p><a href="/">Voltar para Tela Inicial</a></p>
    
</body>
</html>