<!DOCTYPE html>
<<<<<<< HEAD
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Produtos</title>
</head>
<body>
    <h1> Bem vindo ao seu produtos </h1>
    <hr>
    <p><a href= "/" > Voltar para a página inicial</a></p>

=======
<html lang="br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Bem vindo a tela de Produtos</h1>
    <hr>
    <p><a href="/">Voltar para Tela Inicial</a></p>
    
>>>>>>> 72b8536c0730ebdf4bf7536b8136b3867490e542
</body>
</html>