body{
    margin: 0;
    line-height: 30px;

}

header {
    background-color: black;
}

header h1{
    color: aliceblue;
    text-align: center;
}

main{
    min-height: 100vh;
}

footer{
    background-color: rgb(12, 12, 12);
}

footer p{
    color: aliceblue;
    text-align: center;
}