<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes clientes</title>
</head>
<body>
    <h1> <%= clientes %></h1>

    <p><a href="/clientes">Voltar</a></p>
</body>
</html>