<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
</head>
<body>
    <h1>Bem-vindo ao seu servicos</h1>
    <hr>


<!--Exibindo o array de objetos com uma tabela -->

<table border = "1">
    <tr> 
        <th>Serviços</th>
        <th>Descrição</th>
        <th>Preço</th>
    </tr>
    <% servicos.forEach(function(servico){ %> 
    <tr> 
        <td><%= servico.servico %></td>
        <td><%= servico.descricao %></td>
        <td><%= servico.preco %></td>
    </tr>}
    <%})%>

</table>

    <p><a href="/">Voltar para a página inicial</a></p>


</body>
</html>